# ===== IntelliJ =====
.idea/
*.iml
out/
.idea/workspace.xml

# ===== Gradle =====
.gradle/
build/

# ===== AWS / Secrets =====
.env
*.pem
application-local.properties
application-dev.properties

# ===== Logs =====
*.log

# ===== Sistema =====
.DS_Store
Thumbs.db

# ===== Java =====
*.class